@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body bg-black text-white;
  }
}
@layer components {
  .page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-no-wrap-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .dev-list .swiper-slide {
    width: 280px;
    height: auto;
  }
  .button-active {
    @apply active:scale-90 transition-all cursor-pointer;
  }
}
.swiper-pagination {
  position: relative;
  z-index: 100;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}
.swiper-pagination-bullet {
  @apply bg-white;
}
.swiper-pagination-bullet-active {
  @apply bg-primary;
}
