@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-black text-white;
  }
}
@layer components {
  .page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-no-wrap-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .dev-list .swiper-slide {
    width: 280px;
    height: auto;
  }
  .button-active {
    @apply active:scale-90 transition-all cursor-pointer select-none;
  }
  .input-file {
    display: none;
    &:checked {
      display: block;
    }
  }
}

.swiper-pagination {
  position: relative;
  z-index: 100;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

.swiper-pagination-bullet-active {
  @apply bg-primary;
}

.add,
.your-template {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}
.your-template2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

.your-card {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.your-card2 {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.list-item {
  @apply your-card flex items-center justify-center bg-primary py-1 pl-4 pr-10 text-lg font-bold select-none;
}
.list-item2 {
  @apply your-card2 flex items-center justify-center bg-primary py-1 pl-4 pr-10 text-lg font-bold select-none;
}
.list-item3 {
  @apply your-template2 flex items-center justify-center bg-primary py-1 pl-10 pr-4 text-lg font-bold select-none;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ff66c4 !important;
}
.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #ff66c4 !important;
}
